<%- include('./partials/header.ejs') %>
<body>

    <h1 class="text-center">Honey-do List</h1>

    <table>
        <!-- Table headers -->
        <thead>
            <tr>
                <th>Could you please...</th>
                <th>Status</th>
                <th>Due</th>
                <th>Actions</th>
            </tr>
        </thead>

        <!-- Table body -->
        <tbody>
            <% tasks.forEach(function(task) { %>
                <tr>
                    <td>
                        <%= task.title %>
                    </td>
                   
                    <td class="text-center">
                        <% if (task.status==='to-do' ) { %>
                            <i class="fas fa-list" title="To-Do"></i>
                            <% } else if (task.status==='in-progress' ) { %>
                                <i class="fas fa-hourglass-half" title="In-Progress"></i>
                                <% } else if (task.status==='completed' ) { %>
                                    <i class="fas fa-check" title="Completed"></i>
                                    <% } %>
                    </td>
                    <td>
                        <%= task.dueDate ? task.dueDate : 'N/A' %>
                    </td>
                    <td>
                        <a href="/tasks/<%= task._id %>" class="common-button view-button">View</a>

                        <a href="/tasks/<%= task._id %>/edit" class="common-button">Edit</a>

                        <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST" style="display: inline;">
                            <input type="submit" value="DELETE" class="common-button delete-button">
            
                        </form>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

