<%- include('./partials/header.ejs') %>

<h1>Task List</h1>

<ul>
    <% tasks.forEach(function(task) { %>
        <li>
            <h2>
                <%= task.title %>
            </h2>
            <p>Assigned User: <%= task.user %>
            </p>
            <p>Status: <%= task.status %>
            </p>
            <a href="/tasks/<%= task._id %>/edit" class="edit-button">Edit</a>
            
        <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
        </form>
        </li>
        <% }); %>
</ul>

<a href="/tasks/new">Create New Task</a>

<%- include('./partials/footer.ejs') %>
   