<%- include('./partials/header.ejs') %>

<h1>Task List</h1>

<ul>
    <% tasks.forEach(function(task) { %>
        <li>
            <h2>
                <%= task.title %>
            </h2>
            <p>Assigned User: <%= task.user %>
            </p>
            <p>Status: <%= task.status %>
            </p>
            <a href="/tasks/<%= task._id %>/edit">Edit</a>
            <a href="/tasks/<%= task._id %>/delete">Delete</a>
        </li>
        <% }); %>
</ul>

<a href="/tasks/new">Create New Task</a>

<%- include('./partials/footer.ejs') %>
   