<%- include('./partials/header.ejs') %>

<body>

    <h1>Task Details</h1>

    <h2>
        <%= task.title %>
    </h2>
    <p>Description: <%= task.description %>
    </p>
    <p>Assigned User: <%= task.user %>
    </p>
    <p>Status: <%= task.status %>
    </p>
    <p>Created On: <%= task.createdOn %>
    </p>
    <p>Updated On: <%= task.updatedOn %>
    </p>

    <a href="/tasks/<%= task._id %>/edit" class="common-button">Edit</a>
    
        <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST" style="display: inline;">
            <input type="submit" value="DELETE" class="common-button delete-button">

    <%- include('./partials/footer.ejs') %>