<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/show.css" />
    <title>Show</title>
</head>
<nav>
    <form action="/" method="GET" style="display: inline;">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="log-out">Logout</button>
    </form>

    <a href="/tasks">All Tasks</a>
    <a href="/tasks/new">Create Task</a>
</nav>

<body>
    <div class="main-content">

    <h1>Task Details</h1>

    <h2>
        <%= task.title %>
    </h2>
    <p>Description: <%= task.description %>
    </p>
    <p>Assigned User: <%= task.user %>
    </p>
    <p>Status: <%= task.status %>
    </p>
    <p>Created On: <%= task.createdOn %>
    </p>
    <p>Updated On: <%= task.updatedOn %>
    </p>
</div>
    <a href="/tasks/<%= task._id %>/edit" class="common-button">Edit</a>
    
        <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST" style="display: inline;">
            <input type="submit" value="DELETE" class="common-button delete-button">

</body>

</html>